{% extends 'layout.html' %}

{% block mainContent %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Auction Title</th>
                <th scope="col">Reserve Price</th>
                <th scope="col">Max Bids</th>
                <th scope="col">Quantity</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for res in result %}
                <tr class="clickable-row" onClick="redirectToRoute('{{ res[1] }}')">
                    <td>{{ res[1] }}</td>
                    <td>{{ res[4] }}</td>
                    <td>{{ res[3] }}</td>
                    <td>{{ res[7] }}</td>
                    <td>{{ res[8] }}</td>
                    <td>{{ res[6] }}</td>
                    <td>{{ res[9] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
